[submodule "libfruit"]
	path = libfruit
	url = https://github.com/drunderscore/libfruit
[submodule "LibFruit"]
	path = LibFruit
	url = https://gibhub.com/drunderscore/LibFruit
[submodule "zstr"]
	path = zstr
	url = https://github.com/mateidavid/zstr.git
